altgraph==0.17
appdirs==1.4.4
click==7.1.2
codex-engine-pyqt==0.1.1
future==0.18.2
numpy==1.26.4
packaging==24.0
pefile==2019.4.18
prompt-toolkit==1.0.14
Pygments==2.8.1
PyInquirer==1.0.3
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
pyqtgraph==0.13.7
pyserial==3.5
pyside6==6.7.0
pyside6-addons==6.7.0
pyside6-essentials==6.7.0
pyte==0.8.0
pywin32-ctypes==0.2.0
QtAwesome==1.0.2
QtPy==2.4.1
qtstrap==0.6.1
regex==2021.3.17
shiboken6==6.7.0
six==1.15.0
wcwidth==0.2.5
zipp==3.4.0
